<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="initial-scale=1.0, width=device-width" name="viewport">
  <title>電通大生が教える高校生向けのプログラミング教室 参加申し込み - 電気通信大学</title>

  <!-- css -->
  <link href="/css/base.min.css" rel="stylesheet">
  <link href="/css/project.min.css" rel="stylesheet">

  <!-- favicon -->
  <!-- ... -->

  <!-- ie -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="avoid-fout">
<div class="avoid-fout-indicator avoid-fout-indicator-fixed">
  <div class="progress-circular progress-circular-alt progress-circular-center">
    <div class="progress-circular-wrapper"><div class="progress-circular-inner">
      <div class="progress-circular-left">
        <div class="progress-circular-spinner"></div>
      </div>
      <div class="progress-circular-gap"></div>
      <div class="progress-circular-right">
        <div class="progress-circular-spinner"></div>
      </div>
    </div></div>
  </div>
</div>
<header>
  <span class="header-logo">電通大生が教える<br>高校生のためのプログラミング教室</span>
</header>
<main>
  <div class="content-heading">
    <div class="container">
      <h1 class="heading">参加申込み完了</h1>
    </div>
  </div>
  <div class="content-inner">
    <div class="container">
      <div class="row row-fix">
        <div class="col-lg-12 col-md-12">
          <h2 class="content-sub-heading">受付を完了しました。</h2>
          <p>確認メールを送信しました。ご確認ください。</p>
          <p class="margin-no-top">
            <a class="btn waves-button waves-effect" href="#" onClick="window.close(); return false;">閉じる</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
<footer>
  <div class="container">
    <p>国立大学法人電気通信大学産学官連携センター VBセミナー</p>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/js/base.min.js"></script>
<script src="/js/project.min.js"></script>
</body>
</html>
